
<p>Team Name: <%=@team.name %> </p>
<p>Team Motto: <%=@team.motto %></p>


<h1>Heroes</h1>
<% @heroes.each do |hero| %>
  <div class="hero">
    <p>Hero Name: <%= hero.name %></p><br>
    <p>Hero Power: <%= hero.power %></p><br>
    <p>Hero Bio: <%= hero.bio %></p>
  </div><br>
<% end %>
